.app {
  min-width: 400px;
  min-height: 200px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  position: relative;
}

.tasksForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type='checkbox'] {
  font-size: 20px;
  cursor: pointer;
}

input[type='text'] {
  border: 0;
  outline: none;
  background-color: whitesmoke;
  font-size: 15px;
}

button {
  border: 0;
  outline: none;
  background-color: whitesmoke;
  cursor: pointer;
  font-size: 14px;
}

.timesBtn {
  color: grey;
}

.menu {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
