#root {
  width: 500px;
  min-height: 200px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  font-size: 18px;
  position: relative;
}

.tasksForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3px;
}

.tasksInput {
  border: 0;
  outline: none;
  background-color: whitesmoke;
  padding-left: 10px;
  font-size: 18px;
}

.taskInput {
  border: 0;
  outline: none;
  background-color: whitesmoke;
  padding-left: 10px;
  font-size: 15px;
}

.fas,
.far {
  border: 0;
  outline: none;
  background-color: whitesmoke;
  color: grey;
  cursor: pointer;
}

.fa-square:hover,
.fa-check-square:hover {
  color: black;
}

.fa-plus {
  padding: 0 5px 0 2px;
  font-size: 12px;
}

.menu {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
